<html>
<head>
	<title>Home page</title>
</head>

<body>
{% if request.user.is_superuser %}
<h1>Welcome Admin</h1>
<ul>
  <li>
  	Create User
  	<form>
  		{% csrf_token %}
  		<input type="text"/ placeholder="Username"> <br>
  		<input type="number" placeholder="Mobile Number"/> <br>
  		<input type="submit" value="Create">
  	</form>
  </li>
  <li>
  	Change Password
  	<form>
  		{% csrf_token %}
  		<input type="text"/ placeholder="User ID"> <br>
  		<input type="password" placeholder="New Password"/> <br>
  		<input type="submit" value="Update">
  	</form>
  </li>
  <li>
  	Change Pin
  	<form>
  		{% csrf_token %}
  		<input type="text"/ placeholder="User ID"> <br>
  		<input type="password" placeholder="New PIN"/> <br>
  		<input type="submit" value="Update">
  	</form>
  </li>
  <li>
  	Lock/Unlock
  	<form>
  		{% csrf_token %}
  		<input type="text"/ placeholder="Username"> <br>
  		<input type="number" placeholder="Mobile Number"/> <br>
  		<input type="submit" value="Lock">
  		<input type="submit" value="Unlock">
  	</form>
  </li>
  <li>Send Points</li>
  <li>History</li>
</ul>
{% else %}
Welcome {{ request.user.username }}
{% endif %}


<a href="/logout">Logout</a>
<body>